[submodule "modules/be"]
        path = modules/be
        url = https://github.com/paramsen/be.paramsen.com.git
        branch = develop
[submodule "modules/fe"]
        path = modules/fe
        url = https://github.com/paramsen/fe.paramsen.com.git
        branch = develop